{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Favorites{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Favorites</h1>
    </div>

    <div class="favorites">
        {% if favorites|length == 0 %}
            <div class="alert alert-warning">
                You don't have any favorites yet. Why don't you head over to the <a href="{{ path('app_search_search') }}">search</a> and
                find your self some favorites?
            </div>
        {% else %}

            <div class="alert alert-info">
                {% transchoice favorites|length %}
                {1}You have <strong>1</strong> favorite!|]1,Inf[You have <strong>%count%</strong> favorites!
                {% endtranschoice %}
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="list-group">
                        {% for favorite in favorites %}
                            <a href="{{ path('app_favoritesearchresult_list', {'link': favorite.url}) }}" class="list-group-item {% if favorite.url == link.url %}active{% endif %}">
                                {{ favorite.title }}<br/>
                                <small>{{ favorite.url }}</small>
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-8 col-sm-6">

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <div class="pull-right">
                                        <a href="{{ path('app_favoritesearchresult_unmark', {'url': link.url, 'title': link.title}) }}" class="favorite-icon" title="Remove from favorite list!">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </a>
                                    </div>

                                    {{ link.title }}<br/>
                                    <small>
                                        <a href="{{ link.url }}">{{ link.url }}</a>
                                    </small>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <iframe src="{{ link.url }}" id="result-iframe"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}
