{% extends 'AppBundle::layout.html.twig' %}
{% block title %}Search{% endblock %}

{% block javascripts %}
    {% include 'AppBundle:elements:search_field_js.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'AppBundle:elements:search_field.html.twig' %}

    <div class="search-results">
        <h2>Search Results</h2>

        <p>
            {% transchoice results|length %}
            {0}We found <strong>no</strong> Results|{1}We found <strong>1</strong> Result|]1,Inf[We found <strong>%count%</strong> Results. Have fun exploring!
            {% endtranschoice %}
        </p>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="list-group">
                    {% for result in results %}
                        <a data-url="{{ result.url|e }}" data-description="{{ result.description|e }}" data-title="{{ result.title|e }}"
                           href="{{ path('app_search_search', {'q': q, 'link': result.url}) }}" class="list-group-item {% if result.url == link.url %}active{% endif %}">
                            <span class="badge favorite {% if not result.favorite %}hide{% endif %}"
                                  data-un-mark="{{ path('app_favoritesearchresult_unmark', {'q': q, 'url': result.url, 'title': result.title, 'ajax': true})|e }}"
                                  data-mark="{{ path('app_favoritesearchresult_mark', {'q': q, 'url': result.url, 'title': result.title, 'ajax': true})|e }}">
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </span>

                            {{ result.title }}<br/>

                            <div class="result-url">
                                <small>{{ result.url }}</small>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-8 col-sm-6">

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div class="pull-right">
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <a id="un-mark-favorite" href="{{ path('app_favoritesearchresult_unmark', {'q': q, 'url': link.url, 'title': link.title}) }}"
                                           class="favorite-icon {% if not link.favorite %}hide{% endif %}" title="Remove from favorite list!">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </a>
                                        <a id="mark-favorite" href="{{ path('app_favoritesearchresult_mark', {'q': q, 'url': link.url, 'title': link.title}) }}"
                                           class="favorite-icon {% if link.favorite %}hide{% endif %}" title="Add to favorite list!">
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                        </a>
                                        <div id="change-favorite-spin-container" style="position: absolute;"></div>
                                    {% else %}
                                        <a href="{{ path('app_favoritesearchresult_mark', {'q': q, 'url': link.url, 'title': link.title}) }}" class="favorite-icon"
                                           title="You need to login to add this result to your favorite list!">
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                        </a>
                                    {% endif %}
                                </div>

                                <span id="result-title">{{ link.title }}</span><br/>
                                <small>
                                    <a id="result-url" href="{{ link.url }}">{{ link.url }}</a>
                                </small>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="alert alert-info" id="result-description">
                                    {{ link.description }}
                                </div>

                                <iframe src="{{ link.url }}" id="result-iframe"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
