<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app_site_index') }}">Wikipedia Viewer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {{ knp_menu_render('AppBundle:NavbarMenu:mainMenu', {'currentClass': 'active'}) }}

            <div class="navbar-form navbar-right">
                <div class="btn-group">
                    {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-user"></span><span class="hidden-phone"> {{ app.user.username }}</span>
                            <span class="caret"></span>
                        </a>
                        {{ knp_menu_render('AppBundle:NavbarMenu:userMenu', {'currentClass': 'active'}) }}
                    {% else %}
                        <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Sign In</a>
                        <a class="btn btn-default" href="{{ path('fos_user_registration_register') }}">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
